<header>
  <div class="wrap">
    <a class="logo small_shadow" href="index.html">
      <span class="title">portal</span>
      <span class="description">For creative folks</span>
    </a>
    <nav>
      <div class="nav_icon small_shadow fa fa-bars fa-lg">
        <ul class="big_shadow">
          <li class="first fa fa-dot-circle-o fa-lg"><a routerLink="/home" routerLinkActive="active">home</a></li>
          <li class="fa fa-dot-circle-o fa-lg"><a href="#">artisans</a></li>
          <li class="fa fa-dot-circle-o fa-lg"><a href="masterclasses.html">master classes</a></li>
          <li class="fa fa-dot-circle-o fa-lg"><a routerLink="/articles" routerLinkActive="active">articles</a></li>
          <li class="last fa fa-dot-circle-o fa-lg"><a href="#">contacts</a></li>
        </ul>
      </div>
      <div class="search_icon small_shadow fa fa-search fa-lg">
        <div class="search big_shadow">
          <form>
            <input id="search" type="search"  name="search" placeholder="Search...">
            <label class="fa fa-search fa-lg" for="search"></label>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
