<footer>
  <div class="wrap">
    <div class="acknowledgments big_shadow">
      <span class="banner">acknowledgement</span>
      <p>Some thankfulness must be here somewhere...</p>
    </div>
    <ul class="social">
      <li><a class="fa fa-facebook fa-lg small_shadow" href="https://www.facebook.com/"></a></li>
      <li><a class="fa fa-twitter fa-lg small_shadow" href="https://twitter.com/?lang=ru/"></a></li>
      <li><a class="fa fa-youtube-play fa-lg small_shadow" href="https://youtube.com/"></a></li>
    </ul>
  </div>
</footer>
