<div class="wrap main">
  <div class="login_form">
    <input type="checkbox" id="login_form_btn">
    <label class="login_form_button small_shadow" for="login_form_btn">login</label>
    <form class="big_shadow">
      <div>
        <label for="login">login:</label>
        <input type="text" id="login" value="" placeholder="Login" required>
      </div>
      <div>
        <label for="pass">password:</label>
        <input type="password" id="pass" placeholder="Password" required>
      </div>
      <div>
        <button class="login_btn">submit</button>
        <input type="checkbox" id="remember" checked>
        <label for="remember">remember me</label>
      </div>
    </form>
  </div>
</div>
